<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../public/css/broker.css"/>
	<title>南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司">
	<meta name="description" content="南京鸿鸣网络科技有限公司是一家互联网制作及设计现代设计公司
摆摆网络将市场定位于企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。">

</head>
<body>
	<div class="login">
		<div class="login_top">
			<a class="login_top_bg" href="javascript:0"></a>
			<div class="login_title">经纪人</div>
		</div>
		<div class="login_bottom">
			<div class="agent_header">必须填</div>
			<div class="agent_info">
				<div class="agent_touxiang">
					添加头像
				</div>
				<p class="underline"></p>
				<input type="text" name=""  value="" placeholder="姓名"/>
				<input type="text" name=""  value="" placeholder="所属公司"/>
				<input type="text" name=""  value="" placeholder="联系方式"/>
				<input type="text" name=""  value="" placeholder="擅长商圈"/>
				<div class="agent_card">名片正面</div>
			</div>	
			<div class="agent_header">选填项</div>
			<div class="agent_info">
				<div class="agent_certificate agent_card">全国经济人证书</div>
			</div>
			
			<input class="submit" type="submit" name="" id="" value="完成" placeholder="完成" />
			
		</div>
	</div>
	<script src="../public/zepto/touch.js"></script>
	<script src="../public/neat/neat.min.js"></script>
</body>
</html>