<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
            maximum-scale=1,minimum-scale=1,user-scable=no">
    <title>南京鸿鸣网络科技有限公司</title>
    <meta name="keywords" content="南京鸿鸣网络科技有限公司">
    <meta name="description" content="南京鸿鸣网络科技有限公司是一家互联网制作及设计现代设计公司
摆摆网络将市场定位于企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。">

    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/loading.css">

    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>

    <!--<script src="../public/neat/neat.min.js"></script>-->
</head>
<body>
    <div class="logo"></div>
    <input type="text" placeholder="请输入用户名" id="user">
    <input type="password" placeholder="请输入密码" id="passwd">
    <input type="button" value="登录" id="send">
    <div class="copy">Copyright&copy;2016</div>
    <script>

    $("#send" ).on("click",function(){
        var username = $("#user" ).val();
        var passwd = $("#passwd" ).val();

        $.ajax({
            url:'/api/user/login',
            type:"POST",
            dataType:'json',
            data:{
                username:username,
                passwd:passwd
            },
            success:function(result){
                console.log("result",result);
                if(result.code==1){
                    alert("登陆成功")
                }else{
                    alert(result.msg)
                }
            },
            /*complete:function(res){
             console.log('res',res)
             }*/
        });
    });
    </script>

</body>
</html>