<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../public/css/setting.css"/>

	<title>南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司">
	<meta name="description" content="南京鸿鸣网络科技有限公司是一家互联网制作及设计现代设计公司
摆摆网络将市场定位于企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。">

</head>
	<body>
		<header class="header">
			<img src="../public/img/nav_back_icon@2x.png" class="icon-back i"  alt="">
			<span class="header_title">设置</span>
		</header>

		<div class="set_demand">
			<span>接受需求</span>
			<div class="settint_anniu">
				<div class="setting_smallcircle"></div>
			</div>
		</div>
		<div class="set_demand">
			<span>关于</span>
			<a class="set_jiantou" href=""></a>
		</div>
		<div class="set_demand">
			<span>清除缓存</span>
			<a class="set_jiantou1" href="">7.02M</a>
		</div>
		<div class="login_out">
			退出登录
		</div>
	</body>
</html>
