body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: Roboto;
}
.header {
  display: -webkit-flex;
  display: flex;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  margin-bottom: 20px;
}
.icon-back {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 24px;
  padding-top: 6px;
  padding-left: 6px;
}
.header_title {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ed692b;
  text-align: center;
}
.header_centent {
  position: absolute;
  right: 10px;
  font-size: 12px;
}
.form-list {
  width: 100%;
}
.form-cell {
  display: flex;
  position: relative;
  line-height: 40px;
  background: #fff;
}
.form-cell-name {
  font-size: 12px;
  display: inline-block;
  width: 50px;
  flex: 1;
  padding-left: 36px;
  background: url("../imges/登录/content_ID_icon@2x.png") no-repeat left 10px center;
  background-size: 16% 48%;
  text-align-last: justify;
}
.cell-code {
  background: url("../imges/登录/content_verify_icon@2x.png") no-repeat left 13px center;
  background-size: 10% 48%;
}
.cell-password {
  background: url("../imges/登录/content_password_icon@2x.png") no-repeat left 10px center;
  background-size: 12% 48%;
}
.cell-position {
  background: url("../imges/登录/content_position_icon@2x.png") no-repeat left 10px center;
  background-size: 14% 48%;
}
.form-cell-input {
  flex: 3;
  border: none;
  outline: none;
}
.form-cell-code {
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  line-height: 14px;
  border-radius: 5px;
  color: #fff;
  background-color: #ed692b;
}
#confirmPass_tips {
  display: none;
  color: #f00;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  right: 10px;
}
.bt_box {
  height: 40px;
  padding: 0 15px;
  display: -webkit-box;
  display: flex;
  margin-top: 20px;
}
.btn_login {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ed692b;
  color: #fff;
  font-size: 1.1rem;
  line-height: 10px;
}
